*
!.gitignore

!.husky/
!.husky/*

!packages/
!packages/**/

!.dockerignore
!Dockerfile

!.editorconfig
!.prettierignore
!changelog.config.*js
!eslint.config.*js
!generate-react-cli.json
!justfile
!postcss.config.js
!prettier.config.*js
!stylelint.config.*js
!tailwind.config.ts
!vite.config.ts

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml

!LICENSE

!*.md

!.env.*
.env.local
.env.*.local
!env.local.sample
!env.sample
